Repository SHA888/personal-github-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rust-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        files: ^.*$
    -   id: end-of-file-fixer
        files: ^.*$
    -   id: check-yaml
        files: ^.*\.ya?ml$
    -   id: mixed-line-ending
        files: ^.*$
    -   id: check-merge-conflict
        files: ^.*$

-   repo: local
    hooks:
    -   id: rustfmt
        name: Rust Format
        entry: bash -c 'cd backend && cargo fmt -- --check'
        language: system
        types: [rust]
        pass_filenames: false

    -   id: rust-lint
        name: Rust Lint
        entry: bash -c 'cd backend && cargo clippy -- -D warnings'
        language: system
        types: [rust]
        pass_filenames: false

    -   id: frontend-format
        name: Frontend Format
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

    -   id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

test: add callback cookie integration test (Task 2.2)
  backend/src/handlers/auth.rs
Due: rustfmt, rust-lint

feat: add PAT auth endpoint (Task 2.3)
  backend/src/handlers/auth.rs
  backend/src/routes/init_routes.rs
Due: rustfmt, rust-lint

test: add PAT auth integration test (Task 2.3)
  backend/src/handlers/auth.rs
Due: rustfmt, rust-lint

feat: integrate Redis session storage for JWT (Task 2.4)
  backend/src/handlers/auth.rs
Due: rustfmt, rust-lint

feat: create auth UI components (Task 2.5)
  frontend/src/App.tsx
  frontend/src/components/Auth/AuthButtons.tsx
  frontend/src/components/Auth/PatForm.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/services/api.ts
Due: frontend-format, frontend-lint

fix: remove unused RepositoryActivityData
  frontend/src/services/api.ts
Due: frontend-format, frontend-lint

fix: center button layout
  frontend/src/index.css
Due: none

fix: correct tsconfig.app.json JSON syntax
  frontend/tsconfig.app.json
Due: none

Implement security protections and structured JSON error handling (Task 2.7)
  .gitignore
  backend/Cargo.toml
  backend/src/handlers/auth.rs
  backend/src/main.rs
  backend/src/routes/init_routes.rs
  backend/src/utils/config.rs
  tasks/task_001.txt
  tasks/task_002.txt
  tasks/task_003.txt
  tasks/task_004.txt
  tasks/task_005.txt
  tasks/task_006.txt
  tasks/task_007.txt
  tasks/task_008.txt
  tasks/task_009.txt
  tasks/task_010.txt
  tasks/tasks.json
Due: rustfmt, rust-lint

Fix whitespace via pre-commit hook. All lints and formatting clean.
  backend/migrations/20250421090000_add_activities_table.sql
  backend/src/handlers/auth.rs
  backend/src/handlers/mod.rs
  backend/src/main.rs
  backend/src/models/activity.rs
  backend/src/utils/config.rs
  backend/src/utils/jwt.rs
  backend/src/utils/mod.rs
  backend/src/utils/redis.rs
Due: rustfmt, rust-lint

Fix frontend .env.development file formatting via pre-commit hook
  frontend/.env.development
Due: none

fix: downgrade React to v18 for @testing-library/react compatibility
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: restore initial users table migration for backend CI
  backend/migrations/20240408000003_initial_schema.sql
Due: none

chore: add format:check script for CI formatting verification
  frontend/package.json
Due: none

chore: add prettier as devDependency for format:check script in CI
  frontend/package-lock.json
  frontend/package.json
Due: none

test: fix useAuth mock to include all required fields for ProtectedRoute
  frontend/src/components/ProtectedRoute.test.tsx
Due: frontend-format, frontend-lint

test: add missing UseMutationResult fields to useAuth mock for ProtectedRoute tests
  frontend/src/components/ProtectedRoute.test.tsx
Due: frontend-format, frontend-lint

fix: resolve all frontend build errors (mock UseMutationResult fully, remove unused React import)
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/main.tsx
Due: frontend-format, frontend-lint

fix: set Button variant to 'default' (not 'outline') for @primer/react compatibility
  frontend/src/pages/DashboardPage.tsx
Due: frontend-format, frontend-lint

fix(migrations): match activities.user_id type to users.id (INTEGER not UUID) for FK constraint
  backend/migrations/20250421090000_add_activities_table.sql
Due: none

fix(migrations): add repositories table to initial schema for FK support
  backend/migrations/20240408000003_initial_schema.sql
Due: none

Fix JWT error handling, duration parsing, config env var, and clean up all warnings. Pass all tests and clippy precommit hooks.
  backend/Cargo.toml
  backend/src/error.rs
  backend/src/handlers/auth.rs
  backend/src/handlers/health.rs
  backend/src/handlers/metrics.rs
  backend/src/handlers/mod.rs
  backend/src/handlers/notifications.rs
  backend/src/handlers/organizations.rs
  backend/src/handlers/repositories.rs
  backend/src/handlers/users.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/utils/config.rs
  backend/src/utils/jwt.rs
  backend/src/utils/mod.rs
  backend/src/utils/redis.rs
  backend/src/utils/time.rs
  backend/src/utils/validation.rs
Due: rustfmt, rust-lint

test: Set all required env vars in login_redirect_should_redirect_to_github to fix CI and local test runs
  backend/src/handlers/auth.rs
Due: rustfmt, rust-lint

Cleanup: remove unused imports, wire repository handler, update rate limiter deprecation
  backend/.env.example
  backend/Cargo.toml
  backend/src/error.rs
  backend/src/handlers/repositories.rs
  backend/src/main.rs
  backend/src/routes/init_routes.rs
  backend/src/utils/config.rs
  frontend/src/components/RepositoryCard.tsx
  frontend/src/hooks/useRepositories.ts
  frontend/src/pages/DashboardPage.tsx
Due: rustfmt, rust-lint, frontend-format, frontend-lint

Fix formatting and update schema/task docs
  .gitignore
  backend/Dockerfile
  backend/REDIS_SETUP.md
  backend/SCHEMA_MIGRATION.md
  backend/migrations/20240408000003_initial_schema.sql
  backend/migrations/20250421090000_add_activities_table.sql
  backend/migrations/20250422060000_full_schema.sql
  docker-compose.yml
  frontend/Dockerfile
  scripts/dev_reset_db_and_migrate.sh
  tasks/task_001.txt
  tasks/task_002.txt
  tasks/task_003.txt
  tasks/task_004.txt
  tasks/task_005.txt
  tasks/task_006.txt
  tasks/task_007.txt
  tasks/task_008.txt
  tasks/task_009.txt
  tasks/task_010.txt
  tasks/task_011.txt
  tasks/tasks.json
Due: none

Update .env.example and regenerate task files after completing database schema migration
  backend/.env.example
  tasks/task_002.txt
  tasks/tasks.json
Due: none

Fix: remove unused PgPool import after pooling refactor
  backend/.env.example
  backend/src/db.rs
  backend/src/main.rs
  tasks/task_002.txt
  tasks/tasks.json
Due: rustfmt, rust-lint

fix: mcp.json update
  .cursor/mcp.json
Due: none

Integrate Redis caching and PgPool into repositories handler and wire up Actix app
  .pre-commit-config.yaml
  backend/src/handlers/repositories.rs
  backend/src/main.rs
  backend/src/routes/init_routes.rs
Due: rustfmt, rust-lint

fix: ease cargo clippy warning
  .github/workflows/backend.yml
  backend/src/handlers/repositories.rs
  backend/src/main.rs
Due: rustfmt, rust-lint

fix: module visibility, sqlx uuid binding, and Cargo features for working CRUD
  backend/Cargo.toml
  backend/src/db.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models/mod.rs
  backend/src/models/organization.rs
  backend/src/models/repository.rs
  backend/src/models/user.rs
  tasks/task_002.txt
  tasks/tasks.json
Due: rustfmt, rust-lint

chore(tasks): mark 2.4 (database connection pooling) as done and regenerate task files
  tasks/task_002.txt
  tasks/tasks.json
Due: none

style: run cargo fmt to fix rustfmt issues and pass pre-commit hooks
  backend/Cargo.toml
  backend/README.md
  backend/migrations/20250425060000_add_avatar_url_to_users.sql
  backend/migrations/20250425061000_recreate_users_uuid.sql
  backend/migrations/20250425063000_add_is_private_to_repositories.sql
  backend/migrations/20250425064000_recreate_orgs_repos_activities_uuid.sql
  backend/migrations/20250425065000_add_org_id_to_activities.sql
  backend/migrations/20250425070000_add_details_to_activities.sql
  backend/src/db.rs
  backend/src/handlers/activities.rs
  backend/src/handlers/auth.rs
  backend/src/handlers/metrics.rs
  backend/src/handlers/mod.rs
  backend/src/handlers/organizations.rs
  backend/src/handlers/repositories.rs
  backend/src/handlers/users.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models/activity.rs
  backend/src/models/organization.rs
  backend/src/models/repository.rs
  backend/src/models/user.rs
  backend/src/routes/init_routes.rs
  backend/src/utils/cache.rs
  backend/src/utils/cache_warm.rs
  backend/src/utils/mod.rs
  backend/tests/activity_cache_integration.rs
  backend/tests/organization_cache_integration.rs
  backend/tests/repository_cache_integration.rs
  backend/tests/user_cache_integration.rs
  tasks/task_002.txt
  tasks/tasks.json
Due: rustfmt, rust-lint

Remove sensitive files and add to .gitignore to prevent future leaks
  .gitignore
Due: none

fix: ensure end-of-file formatting for pre-commit hooks
  backend/backup_before_uuid.sql
  backend/migrate_to_uuid.sql
  backend/src/handlers/activity.rs
  backend/src/routes/init_routes_test.rs
  backend/tests/integration_caching.rs
  backend/tests/user_cache.rs
Due: rustfmt, rust-lint

Add user caching handler, update docs and rules, and remove old config
  .gitignore
  .windsurfrules
  README-task-master.md
  backend/src/handlers/users.rs
  task-master.config.js
Due: rustfmt, rust-lint

style: rustfmt and clippy cleanup for backend caching and tests
  backend/Cargo.toml
  backend/src/db.rs
  backend/src/models/user.rs
  backend/src/routes/init_routes_test.rs
  backend/src/routes/mod.rs
  backend/src/utils/cache.rs
  backend/tests/integration_caching.rs
Due: rustfmt, rust-lint

Update README.md
  README.md
Due: none
