Repository SHA888/personal-github-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-clippy, cargo-test, npm-lint, npm-test

cargo-check:
  name: Cargo Check
  entry: bash -c 'cd backend && cargo check'
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo Format
  entry: bash -c 'cd backend && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: bash -c 'cd backend && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-test:
  name: Cargo Test
  entry: bash -c 'cd backend && cargo test --all-features'
  language: system
  pass_filenames: false

npm-lint:
  name: NPM Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

npm-test:
  name: NPM Test
  entry: bash -c 'cd frontend && npm test -- --run'
  language: system
  pass_filenames: false

chore: add vscode setting
  .vscode/settings.json
  package-lock.json
Due: none

feat: add sync-all endpoint for organizations and repositories
  backend/src/api/organizations.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

Update development documentation
  docs/development/MILESTONE.md
  docs/development/README.md
Due: none

docs: add comprehensive Redis documentation including setup, configuration, and architecture details
  docs/architecture/README.md
  docs/setup/README.md
Due: none

refactor: reorganize database schema and add new service structure
  backend/migrations/20240320000000_create_organizations.sql
  backend/migrations/20240406000000_clean_schema.sql
  backend/migrations/20240407000000_enhance_schema.sql
  backend/migrations/20240408000000_cleanup.sql
  backend/migrations/20240408000001_initial_schema.sql
  backend/src/github/models/mod.rs
  backend/src/github/services/commit.rs
  backend/src/github/services/mod.rs
  backend/src/github/utils/api_response.rs
  backend/src/github/utils/rate_limit.rs
  backend/src/github/webhook.rs
  frontend/src/hooks/useOrganizations.ts
  frontend/src/lib/queryClient.ts
  frontend/src/theme.ts
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, npm-lint, npm-test

refactor: clean slate backend with basic database setup
  backend/Cargo.toml
  backend/src/api/analytics.rs
  backend/src/api/mod.rs
  backend/src/api/organizations.rs
  backend/src/api/repository.rs
  backend/src/api/sync.rs
  backend/src/config/mod.rs
  backend/src/db/connection.rs
  backend/src/db/mod.rs
  backend/src/db/models.rs
  backend/src/github/mod.rs
  backend/src/github/models/mod.rs
  backend/src/github/service.rs
  backend/src/github/services/commit.rs
  backend/src/github/services/mod.rs
  backend/src/github/utils/api_response.rs
  backend/src/github/utils/rate_limit.rs
  backend/src/github/webhook.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/middleware/error_handler.rs
  backend/src/middleware/mod.rs
  backend/src/redis/mod.rs
  backend/src/services/analytics.rs
  backend/src/services/mod.rs
  backend/src/services/sync.rs
  backend/src/state.rs
  backend/src/utils/mod.rs
  backend/src/websocket/mod.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

fix: update database models and API handlers to properly handle nullable fields - Make QueryParams fields public - Add proper error handling - Update API response types to handle optional values
  backend/src/api/handlers/mod.rs
  backend/src/api/handlers/organizations.rs
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/users.rs
  backend/src/api/mod.rs
  backend/src/api/routes.rs
  backend/src/db/models.rs
  backend/src/error.rs
  backend/src/main.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

refactor: update pre-commit hooks and fix code formatting - Simplify pre-commit configuration to focus on essential checks - Fix Rust and TypeScript formatting issues - Update documentation files
  .pre-commit-config.yaml
  backend/migrations/20240408000000_cleanup.sql
  backend/migrations/20240408000001_initial_schema.sql
  backend/src/api/handlers/mod.rs
  backend/src/api/handlers/organizations.rs
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/users.rs
  backend/src/api/mod.rs
  backend/src/api/routes.rs
  backend/src/error.rs
  docs/architecture/README.md
  docs/setup/README.md
  frontend/src/hooks/useOrganizations.ts
  frontend/src/lib/queryClient.ts
  frontend/src/theme.ts
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, npm-lint, npm-test

feat: Upgrade octocrab and implement org sync endpoints
  backend/Cargo.toml
  backend/src/api/handlers/organizations.rs
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/users.rs
  backend/src/api/routes.rs
  backend/src/db/models.rs
  backend/src/error.rs
  backend/src/github/api.rs
  backend/src/github/mod.rs
  backend/src/github/sync.rs
  backend/src/main.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

fix: update list_my_organizations to use correct GitHub API endpoint
  backend/src/api/handlers/organizations.rs
  backend/src/github/api.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

chore: Initial project setup and documentation - Add Task Master config, PRD, dev environment setup, and documentation
  .cursor/mcp.json
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/dev_workflow.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/taskmaster.mdc
  .env.example
  .gitignore
  .windsurfrules
  README-task-master.md
  README.md
  docker-compose.yml
  package-lock.json
  package.json
  scripts/README.md
  scripts/dev.js
  scripts/example_prd.txt
  scripts/prd.txt
  scripts/task-complexity-report.json
  task-master.config.js
Due: none

feat: Add backend handlers and middleware modules, reorganize frontend structure
  backend/.env.example
  backend/src/handlers/auth.rs
  backend/src/handlers/metrics.rs
  backend/src/handlers/mod.rs
  backend/src/handlers/notifications.rs
  backend/src/handlers/repositories.rs
  backend/src/main.rs
  backend/src/middleware/auth.rs
  backend/src/middleware/error_handler.rs
  backend/src/middleware/logging.rs
  backend/src/middleware/mod.rs
  backend/src/middleware/rate_limit.rs
  backend/src/models/mod.rs
  backend/src/models/notification.rs
  backend/src/models/repository.rs
  backend/src/models/user.rs
  backend/src/routes/auth.rs
  backend/src/routes/metrics.rs
  backend/src/routes/mod.rs
  backend/src/routes/notifications.rs
  backend/src/routes/repositories.rs
  backend/src/utils/config.rs
  backend/src/utils/github.rs
  backend/src/utils/mod.rs
  backend/src/utils/time.rs
  backend/src/utils/validation.rs
  frontend/src/api/github.ts
  frontend/src/components/analytics/AnalyticsDashboard.tsx
  frontend/src/types/github.ts
  frontend/src/utils/queryClient.ts
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, npm-lint, npm-test

fix: Add list_my_repositories method to GitHubAPIService with correct pagination type
  backend/src/github/api.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

fix: Add list_my_repositories method to GitHubAPIService with correct pagination type
  backend/src/github/api.rs
  backend/src/handlers/mod.rs
  backend/src/main.rs
  backend/src/middleware/auth.rs
  backend/src/middleware/logging.rs
  backend/src/middleware/mod.rs
  backend/src/middleware/rate_limit.rs
  backend/src/models/mod.rs
  backend/src/routes/mod.rs
  backend/src/utils/mod.rs
  frontend/src/components/analytics/AnalyticsDashboard.tsx
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, npm-lint, npm-test

chore: remove Husky configuration and migrate to pre-commit framework
  backend/rustfmt.toml
  frontend/.eslintrc.js
  frontend/.prettierrc.js
  frontend/package-lock.json
  frontend/package.json
  package.json
Due: npm-lint, npm-test

refactor: Update database schema and organization handlers
  backend/migrations/20240408000000_cleanup.sql
  backend/migrations/20240408000001_initial_schema.sql
  backend/migrations/20240408000003_initial_schema.sql
  backend/src/api/handlers/organizations.rs
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/users.rs
  backend/src/api/mod.rs
  backend/src/db/connection.rs
  backend/src/db/mod.rs
  backend/src/db/models.rs
  backend/src/github/api.rs
  backend/src/github/sync.rs
  backend/src/handlers/repositories.rs
  backend/src/middleware/auth.rs
  backend/src/middleware/error_handler.rs
  backend/src/middleware/logging.rs
  backend/src/middleware/rate_limit.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

feat: setup Docker environment and update task statuses
  docker-compose.yml
  docs/setup/README.md
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

feat(auth): configure OAuth environment variables and rename to GITHUB_PERSONAL_ACCESS_TOKEN
  README.md
  backend/.env.example
  backend/README.md
  backend/src/api/handlers/organizations.rs
  backend/src/handlers/repositories.rs
  backend/src/main.rs
  backend/src/utils/config.rs
  docker-compose.yml
  docs/setup/README.md
  frontend/.env.example
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

refactor(backend): consolidate handlers and routes
  backend/Cargo.toml
  backend/src/api/handlers/mod.rs
  backend/src/api/handlers/repositories.rs
  backend/src/api/mod.rs
  backend/src/api/routes.rs
  backend/src/handlers/auth.rs
  backend/src/handlers/mod.rs
  backend/src/handlers/organizations.rs
  backend/src/handlers/users.rs
  backend/src/main.rs
  backend/src/routes.rs
  backend/src/routes/auth.rs
  backend/src/routes/metrics.rs
  backend/src/routes/mod.rs
  backend/src/routes/notifications.rs
  backend/src/routes/repositories.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

fix: backend router and midlleware and format
  backend/Cargo.toml
  backend/src/error.rs
  backend/src/handlers/auth.rs
  backend/src/handlers/health.rs
  backend/src/handlers/mod.rs
  backend/src/handlers/organizations.rs
  backend/src/handlers/users.rs
  backend/src/main.rs
  backend/src/middleware/auth.rs
  backend/src/models/user.rs
  backend/src/routes.rs
  backend/src/utils/jwt.rs
  backend/src/utils/mod.rs
  backend/tests/test_auth.sh
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

docs: comprehensive documentation update - Added deployment guide, features docs, and improved organization
  README.md
  docs/README.md
  docs/deployment/README.md
  docs/development/ARCHITECTURE.md
  docs/development/CODE_OF_CONDUCT.md
  docs/development/CONTRIBUTING.md
  docs/development/FEATURES.md
  docs/development/MILESTONE.md
  docs/development/SETUP.md
  docs/features/README.md
Due: none

docs: Update architecture documentation with desktop application details
  docs/architecture/README.md
  scripts/prd.txt
Due: none

feat: implement authentication system - Add .env.example, update auth handlers, routes, and frontend components
  backend/.env.example
  backend/Cargo.toml
  backend/src/handlers/auth.rs
  backend/src/routes.rs
  backend/src/utils/config.rs
  frontend/src/components/Auth/AuthButtons.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/types/user.ts
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test, npm-lint, npm-test

fix: resolve remaining frontend linting and type issues
  frontend/package.json
  frontend/src/components/Auth/AuthButtons.tsx
  frontend/src/components/analytics/AnalyticsDashboard.tsx
  frontend/src/components/analytics/Dashboard.tsx
  frontend/src/components/analytics/RepositoryActivity.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/Organizations.tsx
  frontend/src/services/api.ts
  frontend/src/types/user.ts
Due: npm-lint, npm-test

feat(db): Set up migrations, models, and db layer for notifications & metrics (Task 3.1)
  backend/migrations/20240415000001_notifications_and_metrics.sql
  backend/src/db/metrics.rs
  backend/src/db/mod.rs
  backend/src/db/notifications.rs
  backend/src/handlers/auth.rs
  backend/src/handlers/github.rs
  backend/src/handlers/metrics.rs
  backend/src/handlers/mod.rs
  backend/src/handlers/notifications.rs
  backend/src/main.rs
  backend/src/middleware/auth.rs
  backend/src/middleware/mod.rs
  backend/src/middleware/rate_limit.rs
  backend/src/models/mod.rs
  backend/src/models/notification.rs
  backend/src/models/repository.rs
  backend/src/utils/config.rs
  backend/src/utils/github.rs
  backend/src/utils/jwt.rs
  backend/src/utils/mod.rs
  backend/src/utils/time.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

feat(db): Set up migrations, models, and db layer (Task 3.1)
  backend/src/handlers/auth.rs
  backend/src/middleware/auth.rs
  backend/src/middleware/mod.rs
  backend/src/models/mod.rs
  backend/src/utils/github.rs
  backend/src/utils/mod.rs
  backend/src/utils/time.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

fix: Frontend TypeScript and linting issues
  frontend/src/components/analytics/Dashboard.tsx
  frontend/src/components/analytics/RepositoryActivity.tsx
  frontend/src/services/api.ts
Due: npm-lint, npm-test

style: Format imports in RepositoryActivity component
  frontend/src/components/analytics/RepositoryActivity.tsx
Due: npm-lint, npm-test

feat: Add React Query integration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/lib/queryClient.ts
  frontend/src/pages/Organizations.tsx
Due: npm-lint, npm-test

feat(github-api): Implement GitHub API service layer with rate limiting
  backend/Cargo.toml
  backend/src/handlers/organizations.rs
  backend/src/handlers/repositories.rs
  backend/src/main.rs
  backend/src/services/github_api.rs
  backend/src/services/mod.rs
  backend/src/services/rate_limiter.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

refactor(db): consolidate database schema migrations into single file
  backend/.sqlx/query-0760efa14cc2c1b5b8db14a31f061ac703ab9d08b8bd84d8041d4e14e4feba13.json
  backend/.sqlx/query-0a2eaef4123ab2a96e4ee99ba3dafa6e685e8e1c418684a70212e6a82227258b.json
  backend/.sqlx/query-162342c8c70c0644c7abfa9dfdea7e17a7d85575353070af8844ecc922f71412.json
  backend/.sqlx/query-31f8de45cf1b8662371e8cb45502d16e294c7fc3eb217f46cc35de6b25d9e6fd.json
  backend/.sqlx/query-4066ef1a5d5bb8f240a02c467bd94f263392065ce08250edee3f66a43fd250d9.json
  backend/.sqlx/query-48759e49aaca5608505a8b174e7bd3e54c858112d166ac5d349834928bfcab5e.json
  backend/.sqlx/query-4b65fb10220d24457fc3a6b0d0dfbeea32bdd234dc966cd076024d202365a687.json
  backend/.sqlx/query-4f5824e39db6a8d0396abc7f71031caf828a1baf7f891ace3b3d260270c4051c.json
  backend/.sqlx/query-5798fd53e9188cf6df82c26fd6bcf9a17523907ff73f21293459c8f9da93216b.json
  backend/.sqlx/query-677e8fdafcbb8c16ad02bc45ac42e33b4127c9cb9b752868e470919b16f30679.json
  backend/.sqlx/query-6780da8638b4fcf4d192ac63d34817b5cb601381a472237ddd6fefb3b9121d88.json
  backend/.sqlx/query-7feb7dbed55f3192432fed1455de45591e16aee07d12c2ec0a87433a8eb885fd.json
  backend/.sqlx/query-8524c3af4f1f8957a868a124b06e56e4d39d126e248cc5584e3276fc68168933.json
  backend/.sqlx/query-8cdd5e0bdbba73476b496187fb99a65d7aed66f5f40e8e4e3570fad998a98863.json
  backend/.sqlx/query-915642dcaea4c90bb15b7ad4c6b3889c846d64fa11463719e65496b950ae039f.json
  backend/.sqlx/query-94022a46dbee9f7806be7e81b0ea8ac68d1177896970522136f7be878710bc83.json
  backend/.sqlx/query-98e330e4ead65a01d1dcfdee2484b96f33e2f6514f0c362b02923491ab143c39.json
  backend/.sqlx/query-b7041348f57ff159feef3843d580b0f38e6794a3f959f8fe54c94d0527c5aaf2.json
  backend/.sqlx/query-c408a88121bef929086d82abd1ab28e8fae576de894aefa2de763f6c9a8f9039.json
  backend/.sqlx/query-dc64e1d25d9ced3a49130cee99f6edc3f70a4917910cf3b76faefc24ac32159d.json
  backend/.sqlx/query-e16f887d96200b7b071bbb11f2502f73068c8d88d57cf98277420719d2f1c2f6.json
  backend/.sqlx/query-fbd58275fe34467c70a20a9b928cf7de3bcb1a820e81dce10848cddb0874a57f.json
  backend/migrations/20240408000003_initial_schema.sql
  backend/migrations/20240415000001_notifications_and_metrics.sql
  backend/migrations/20240421000000_consolidated_schema.sql
Due: none

refactor(db): update models and metrics to match schema changes
  backend/src/db/metrics.rs
  backend/src/db/models.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

chore: Implement GitHub API service layer with rate limiting (Task 3.2)
  backend/Cargo.toml
  backend/src/db/mod.rs
  backend/src/db/models.rs
  backend/src/db/notifications.rs
  backend/src/error.rs
  backend/src/github/mod.rs
  backend/src/handlers/auth.rs
  backend/src/handlers/metrics.rs
  backend/src/handlers/notifications.rs
  backend/src/handlers/organizations.rs
  backend/src/handlers/repositories.rs
  backend/src/handlers/users.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/middleware/auth.rs
  backend/src/models/mod.rs
  backend/src/models/notification.rs
  backend/src/routes.rs
  backend/src/services/cache.rs
  backend/src/services/mod.rs
  backend/src/services/sync.rs
  backend/src/utils/config.rs
  backend/src/utils/jwt.rs
  backend/src/utils/mod.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

chore: suppress warnings for scaffolded auth and utils
  backend/src/handlers/auth.rs
  backend/src/handlers/mod.rs
  backend/src/main.rs
  backend/src/routes/init_routes.rs
  backend/src/utils/config.rs
  backend/src/utils/jwt.rs
  backend/src/utils/mod.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

chore: update actix-session version and feature for Redis support
  backend/Cargo.toml
Due: none

chore: add GitHub OAuth config and callback implementation (Task 2.1)
  backend/src/handlers/auth.rs
  backend/src/utils/config.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

test: add callback integration test (Task 2.1)
  backend/src/handlers/auth.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

feat: implement JWT issuance and cookie setting (Task 2.2)
  backend/Cargo.toml
  backend/src/handlers/auth.rs
Due: cargo-check, cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-check: any of: ^backend/ and \.rs$
  cargo-fmt: any of: ^backend/ and \.rs$
  cargo-clippy: any of: ^backend/ and \.rs$
  cargo-test: any of: ^backend/ and \.rs$
  npm-lint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  npm-test: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
